* {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  margin: 0;
}

h1, p {
  margin: 0.5em 0;
}

#presentation {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 1.6;
  color: #303030;
  visibility: hidden;
}

#presentation section {
  /* hide until bespoke classes are added; also prevents transitions during load */
  display: none;
}

#presentation.bespoke-parent {
  visibility: visible;
  position: absolute;
  /*
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  */

  /* ...or use view sizes */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#presentation .bespoke-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  height: 360px;
  margin-top: -180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* use box shadow to indicate edge of slide in demo */
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 1em;
  -webkit-transition: transform .3s ease, opacity .3s ease;
     -moz-transition: transform .3s ease, opacity .3s ease;
       -o-transition: transform .3s ease, opacity .3s ease;
          transition: transform .3s ease, opacity .3s ease;
  /* force opacity to start at 0 to avoid transition on load when using bespoke-scale */
  opacity: 0;
}

#presentation .bespoke-inactive {
  opacity: 0;
}

#presentation .bespoke-active {
  opacity: 1;
  /* ensure current slide is on the top */
  z-index: 1;
}
